<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tekno Soft - Dashboard</title>
    <link href="../CSS/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/boxicons.min.css" rel="stylesheet" />
    <link href="../CSS/all.min.css" rel="stylesheet" />
    <link href="../CSS/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />

    <style>
        .nav-item .nav-link {
            color: #424242;
        }

        .nav-item .nav-link.active {
            font-weight: bold;
            background-color: transparent;
            border-bottom: 1px solid #ffba56;
            border-right: none;
            border-left: none;
            border-top: none;
        }
    </style>

</head>

<body>

    <!-- !Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="ps-3 pb-2 border-bottom">Alış</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="alisIrsaliyesi" checked>
                                        <label class="form-check-label" for="alisIrsaliyesi">Alış
                                            İrsaliyesi</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="alisFaturasi"
                                            checked>
                                        <label class="form-check-label" for="alisFaturasi">Alış
                                            Faturası</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="tedarikciler"
                                            checked>
                                        <label class="form-check-label" for="tedarikciler">Tedarikçiler</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="mobilIrsaliye"
                                            checked>
                                        <label class="form-check-label" for="mobilIrsaliye">Mobil & İrsaliye</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="odemeKosullari" checked>
                                        <label class="form-check-label" for="odemeKosullari">Ödeme Koşulları</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="teslimatKosullari" checked>
                                        <label class="form-check-label" for="teslimatKosullari">Teslimat
                                            KOşulları</label>
                                    </div>
                                    <div>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-up"></i></button>
                                        <button class="btn btn-light btn-sm" type="button"><i
                                                class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="ps-3 pb-2 border-bottom">Satış</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="ps-3 pb-2 border-bottom">Finans</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="ps-3 pb-2 border-bottom">Ayarlar</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !Sidebar Start -->
    <div class="sidebar close z-3" id="sidebar">
        <div class="logo-details">
            <i class='bx bxl-typescript'></i>
            <span class="logo_name">Tekno Soft</span>
        </div>
        <!-- ?Sub Menü UL Başladı -->
        <div class="nav-links">
            <div class="menu-li">
                <a href="index.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name" key="Anasayfa1"></span>
                </a>
                <div class="sub-menu blank">
                    <div class="sub-menu-content"><a class="link_name" href="index.html">Anasayfa</a></div>
                </div>
            </div>
            <div class="menu-li">
                <a href="#">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Veriler</span>
                </a>
                <div class="sub-menu blank">
                    <div class="sub-menu-content"><a class="link_name" href="kural.html" key="Veriler"></a></div>
                </div>
            </div>
            <div class="menu-li">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name" key="Alış"></span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <div class="sub-menu">
                    <div class="sub-menu-content">
                        <div class="sub-menu-grups columns">
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title link_name"><span>Alış</span></div>
                                <ul>
                                    <li><a href="kategori.html" key="Alış Faturaları"></a></li>
                                    <li><a href="#" key="Açık Hesaplar"></a></li>
                                    <li><a href="tedarikci.html" key="Tedarikçiler"></a></li>
                                    <li><a href="#" key="Ödeme Koşulları"></a></li>
                                    <li><a href="#" key="Teslimat KOşulları"></a></li>
                                    <li><a href="bilgi-defteri.html">Bilgi Defteri</a></li>
                                    <li><a href="bilgi-defteri.html">Köfe Ekmel</a></li>
                                    <li><a href="bilgi-defteri.html">Lahmacun Kebap</a></li>
                                    <li><a href="bilgi-defteri.html">Kuru Fasulye Pilav</a></li>
                                </ul>
                            </div>
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title"><span>Alış 1</span></div>
                                <ul>
                                    <li><a href="kategori.html" key="Alış Faturaları"></a></li>
                                    <li><a href="#" key="Açık Hesaplar"></a></li>
                                    <li><a href="tedarikci.html" key="Tedarikçiler"></a></li>
                                    <li><a href="#" key="Ödeme Koşulları"></a></li>
                                    <li><a href="#" key="Teslimat KOşulları"></a></li>
                                    <li><a href="bilgi-defteri.html">Bilgi Defteri</a></li>
                                </ul>
                            </div>
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title"><span>Alış 2</span></div>
                                <ul>
                                    <li><a href="kategori.html" key="Alış Faturaları"></a></li>
                                    <li><a href="#" key="Açık Hesaplar"></a></li>
                                    <li><a href="tedarikci.html" key="Tedarikçiler"></a></li>
                                    <li><a href="#" key="Ödeme Koşulları"></a></li>
                                    <li><a href="#" key="Teslimat KOşulları"></a></li>
                                    <li><a href="bilgi-defteri.html">Bilgi Defteri</a></li>
                                </ul>
                            </div>
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title"><span>Deneme</span></div>
                                <ul>
                                    <li><a href="kategori.html">Faturalar</a></li>
                                    <li><a href="#">Hanimiş Faturalar</a></li>
                                    <li><a href="tedarikci.html">Paracıklar</a></li>
                                    <li><a href="#">Çok Para Lazım</a></li>
                                    <li><a href="#">Giren Faturalar</a></li>
                                    <li><a href="#">Para Var mı?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sub-menu-end">
                        <div class="sub-menu-grup-title"><span>Buda Deneme</span></div>
                        <ul>
                            <li><a href="kategori.html">Faturalar</a></li>
                            <li><a href="#">Hanimiş Faturalar</a></li>
                            <li><a href="tedarikci.html">Paracıklar</a></li>
                            <li><a href="#">Çok Para Lazım</a></li>
                            <li><a href="#">Giren Faturalar</a></li>
                            <li><a href="#">Para Var mı?</a></li>
                            <li><a href="#">Bana EURO Lazım</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-li">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="link_name" key="Satış"></span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <div class="sub-menu">
                    <div class="sub-menu-content">
                        <div class="sub-menu-grups">
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title link_name"><span>Satış</span></div>
                                <ul>
                                    <li><a href="#" key="Satış Faturaları"></a></li>
                                    <li><a href="musteri.html" key="Müşteriler"></a></li>
                                    <li><a href="#" key="Açık Hesaplar"></a></li>
                                    <li><a href="#" key="Hatırlatmalar"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sub-menu-end">
                        <div class="sub-menu-grup-title"><span>Buda Deneme</span></div>
                        <ul>
                            <li><a href="kategori.html">Faturalar</a></li>
                            <li><a href="#">Hanimiş Faturalar</a></li>
                            <li><a href="tedarikci.html">Paracıklar</a></li>
                            <li><a href="#">Çok Para Lazım</a></li>
                            <li><a href="#">Giren Faturalar</a></li>
                            <li><a href="#">Para Var mı?</a></li>
                            <li><a href="#">Bana EURO Lazım</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-li">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-line-chart'></i>
                        <span class="link_name" key="Finansal"></span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <div class="sub-menu">
                    <div class="sub-menu-content">
                        <div class="sub-menu-grups">
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title link_name"><span>Finansal</span></div>
                                <ul>
                                    <li><a href="#" key="Kasalar"></a></li>
                                    <li><a href="banka.html" key="Bankalar"></a></li>
                                    <li><a href="banka1.html">Banka 1</a></li>
                                    <li><a href="#" key="Memoriaal"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-li">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-plug'></i>
                        <span class="link_name" key="Kişiler"></span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <div class="sub-menu">
                    <div class="sub-menu-content">
                        <div class="sub-menu-grups">
                            <div class="sub-menu-grup">
                                <div class="sub-menu-grup-title link_name"><span>Kişiler</span></div>
                                <ul>
                                    <li><a href="#"">Kişiler</a></li>
                <li><a href=" tedarikci.html" key="Tedarikçiler"></a></li>
                                    <li><a href="#" key="Müşteriler"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sub-menu-end">
                        <div class="sub-menu-grup-title"><span>Buda Deneme</span></div>
                        <ul>
                            <li><a href="kategori.html">Faturalar</a></li>
                            <li><a href="#">Hanimiş Faturalar</a></li>
                            <li><a href="tedarikci.html">Paracıklar</a></li>
                            <li><a href="#">Çok Para Lazım</a></li>
                            <li><a href="#">Giren Faturalar</a></li>
                            <li><a href="#">Para Var mı?</a></li>
                            <li><a href="#">Bana EURO Lazım</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-li">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Ayarlar</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <div class="main-content">
                    <div class="sub-menu">
                        <div class="sub-menu-content">
                            <div class="sub-menu-grups">
                                <div class="sub-menu-grup-next">
                                    <div class="sub-menu-grup">
                                        <div class="sub-menu-grup-settings">
                                            <div class="sub-menu-grup-title link_name ext"><span>Ayarlar</span></div>
                                            <div class="sub-menu-two-li">
                                                <div class="sub-menu-ext">
                                                    <div class="title"><span>Admin Ayarları</span>
                                                        <p>Admin Ayarlarını Yapılandır.</p>
                                                    </div>
                                                    <i class='bx bxs-chevron-down arrow'></i>
                                                </div>
                                                <div class="sub-menu-two">
                                                    <div class="sub-menu-grup-title link_name ext"><span>Admin
                                                            Ayarları</span></div>
                                                    <ul>
                                                        <li><a href="#">Yeni Kategori 1</a></li>
                                                        <li><a href="#">Deneme Menü 1</a></li>
                                                        <li><a href="#">Kuru Fasulye 1</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sub-menu-two-li">
                                                <div class="sub-menu-ext">
                                                    <div class="title"><span>Yönetici Kuralları</span>
                                                        <p>Bu Kısımdan Yönetici Kuralları Ekle</p>
                                                    </div>
                                                    <i class='bx bxs-chevron-down arrow'></i>
                                                </div>
                                                <div class="sub-menu-two">
                                                    <div class="sub-menu-grup-title link_name ext"><span>Yönetici
                                                            Kuralları</span></div>
                                                    <ul>
                                                        <li><a href="#">Yeni Kategori 2</a></li>
                                                        <li><a href="#">Deneme Menü 2</a></li>
                                                        <li><a href="#">Kuru Fasulye 2</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sub-menu-two-li">
                                                <div class="sub-menu-ext">
                                                    <div class="title"><span>Kural Ekle</span>
                                                        <p>Nasıl Kural Ekleyeceğini Biliyor musun?</p>
                                                    </div>
                                                    <i class='bx bxs-chevron-down arrow'></i>
                                                </div>
                                                <div class="sub-menu-two">
                                                    <div class="sub-menu-grup-title link_name ext"><span>Kural
                                                            Ekle</span></div>
                                                    <ul>
                                                        <li><a href="#">Yeni Kategori 3</a></li>
                                                        <li><a href="#">Deneme Menü 3</a></li>
                                                        <li><a href="#">Kuru Fasulye 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sub-menu-two-li">
                                                <div class="sub-menu-ext">
                                                    <div class="title"><span>Masraf Kategorisi</span>
                                                        <p>Masraflar için Yeni Katgeori Ekle.</p>
                                                    </div>
                                                    <i class='bx bxs-chevron-down arrow'></i>
                                                </div>
                                                <div class="sub-menu-two">
                                                    <div class="sub-menu-grup-title link_name ext"><span>Masraf
                                                            Kategorisi</span></div>
                                                    <ul>
                                                        <li><a href="#">Yeni Kategori 4</a></li>
                                                        <li><a href="#">Deneme Menü 4</a></li>
                                                        <li><a href="#">Kuru Fasulye 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sub-menu-two-li">
                                                <div class="sub-menu-ext">
                                                    <div class="title"><span>KDV Oranları</span>
                                                        <p>KDV Oranları Ekleyebiliriz.</p>
                                                    </div>
                                                    <i class='bx bxs-chevron-down arrow'></i>
                                                </div>
                                                <div class="sub-menu-two">
                                                    <div class="sub-menu-grup-title link_name ext"><span>KDV
                                                            Oranları</span></div>
                                                    <ul>
                                                        <li><a href="#">Yeni Kategori 5</a></li>
                                                        <li><a href="#">Deneme Menü 5</a></li>
                                                        <li><a href="#">Kuru Fasulye 5</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-li">
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="img/profile.jpg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">İhsan Akyıldız</div>
                        <div class="job">Web Desginer
                            <a class="text-white" href="login.html">Giriş Yap</a>
                        </div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </div>
        </div>
        <!-- ?Sub Menü UL Bitti -->
    </div>
    <!-- !Sidebar End -->

    <nav class="navbar navbar-expand-lg py-0 bg-white border-bottom border-danger border-1 border-opacity-50 sticky-top"
        style="height: 50px;">
        <div class="container-fluid">
            <div>
                <i class='bx bx-menu' id="bx-menu" role="button"
                    style="height: 50px; min-width: 78px; line-height: 50px; font-size: 20px; cursor: pointer;"></i>
                <i class='bx bx-x d-none' id="bx-x" role="button"
                    style="height: 50px; min-width: 78px; line-height: 50px; font-size: 20px; cursor: pointer;"></i>
            </div>
            <div
                class="d-flex flex-row-reverse position-absolute align-items-center top-50 end-0 translate-middle-y pe-3">
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary border-0 me-2" style="background: #1d2951;"
                        data-bs-toggle="modal" data-bs-target="#settingsModal">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <div class="dropdown">
                        <button class="btn border dropdown-toggle btn-primary" style="background: #1d2951;"
                            type="button" id="drop_dil_Sec" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa-solid fa-globe"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item dilSec" id="tr" href="#"><img src="img/lang/tr.png"> TR </a>
                            <a class="dropdown-item dilSec" id="en" href="#"><img src="img/lang/gb.png"> EN </a>
                            <a class="dropdown-item dilSec" id="de" href="#"><img src="img/lang/de.png"> DE </a>
                            <a class="dropdown-item dilSec" id="nl" href="#"><img src="img/lang/nl.png"> NL </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="pt-3 d-none d-sm-block d-md-none d-lg-block d-lg-none d-xl-block d-md-none d-lg-block d-sm-none d-md-block"
                    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" style="color: #424242;" key="Anasayfa"></a>
                        </li>
                        <li class="breadcrumb-item home" aria-current="page" style="color: #a09e9e;;">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="home-section pt-0">
        <div class="home-content">
            <h3 class="pb-3 pt-3 ps-2">Debiteur France -</h3>
            <ul class="nav nav-underline mb-3 ms-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../000017/overview.html">
                        Relatiekaart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/general.html">
                        Bedrijfsgegevens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/contact.html">
                        Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/communication.html">
                        Communicatie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../000017/openinvoices.html">
                        Openstaande posten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/invoices.html">
                        Facturen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/orders.html">
                        Opdrachten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../000017/salesStatistics.html">
                        Statistieken</a>
                </li>
            </ul>
            <main class="d-flex flex-nowrap bg-white">
                <div class="container-fluid alk-bg border">

                    <section class="padding-bottom-sm padding-top-sm mt-4 vh-100">
                        <div class="container-fluid">
                            <div class="row pb-4 py-3 px-4">
                                <div class="col-10">
                                    <div class="form-floating mb-3">
                                        <div class="input-data">
                                            <input type="text" class="form-control shadow-none rounded-0"
                                                placeholder="Firma Adı - Fatura No - Ara">
                                            <div class="altcizgi"></div>
                                            <label for="Arama"><i class="fa-solid fa-magnifying-glass"></i> Zoek</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-floating float-end pt-2">
                                        <!--<button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Yeni Fatura</button>-->
                                        <a href="#" class="bootstrap-btn py-2 px-3" data-bs-toggle="modal"
                                            data-bs-target="#Modal-2" title="Tedarikci Ekle"><i
                                                class="fa-solid fa-download"></i> Exporteren</a>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Factur</th>
                                            <th scope="col">Vervaldatum</th>
                                            <th scope="col">Openstaand</th>
                                            <th scope="col">Totaalbedrag</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;">
                                            <td class="d-flex flex-column">
                                                <span>20210769</span>
                                                <span>(31-01-2023)</span>
                                            </td>
                                            <td>€ 230.580,79</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr style="cursor: pointer;">
                                            <td class="d-flex flex-column">
                                                <span>20210769</span>
                                                <span>(31-01-2023)</span>
                                            </td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr style="cursor: pointer;">
                                            <td class="d-flex flex-column">
                                                <span>20210769</span>
                                                <span>(31-01-2023)</span>
                                            </td>
                                            <td>Larry the Bird</td>
                                            <td>@twitter</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </section>
                </div>
            </main>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../JS/all.min.js" type="text/javascript"></script>
    <script src="../JS/select2.min.js"></script>
    <script defer src="../JS/sidebar.js"></script>
    <script defer src="../JS/select2.js"></script>
    <script defer src="../JS/autocompleteDropdown.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="../JS/charts.js"></script>
    <script defer src="../JS/languages.js"></script>


</body>

</html>